.ag-theme-quartz .ag-header-cell,
.ag-theme-quartz .ag-header-group-cell {
  background-color: #505050;
}

.ag-theme-quartz .ag-header-cell:hover,
.ag-theme-quartz .ag-header-group-cell:hover {
  background-color: #808080 !important;
}

.ag-theme-quartz .ag-header-cell-text {
  font-weight: 700;
  color: #ffffff;
}

.ag-theme-quartz .ag-sort-indicator-icon {
  color: #ffffff;
}
