@import "tailwindcss";
@import "@fontsource/bebas-neue";
@import "@fontsource/space-mono";

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
  }
}

.link-hover-underline:hover {
  text-decoration: underline !important;
}

.toolbar-btn-hover:hover {
  background-color: var(--toolbar-btn-hover-bg) !important;
}
